*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html{
    scroll-behavior: smooth;
    --BORDER-RADIUS: 15px;
}

.project-details{
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    font-size: 1.5rem;
    position: relative;
}

.section{
    width: auto;
    width: 200px;
    background-color: lightgray;
    display: block;
    /* flex-direction: column; */
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    
}

.section h3{
    min-height: 120px;
    display: grid;
    place-content: center;
    border-bottom: 1px solid black;
}

.section ul{
    list-style-type: none;
    width: 100%;
}

.section li{
    min-height: 70px;
    width: 100%;
    border-bottom: 1px solid black;
    display: grid;
    place-content: center;    
}

a:any-link{
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

a:hover{
    opacity: 0.6;
}

.content{
    width: 100%;
    display: grid;
    place-content: center;
    margin-left: 200px;
}
.subsection{
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

img{
    display: block;
    margin: auto;
    background-color: bisque;
    padding: 0.5rem;
    border-radius: var(--BORDER-RADIUS);
}

@media screen and (min-width: 720px) {
    .section{
        width: 350px;
    }

    .content{
        margin-left: 350px;
    }
}